
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
    margin: 0;

}
/*home section*/
.home{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.coffee-image{
    margin-top:10px;
}
.home .right{
    background-color: white;
    position: relative;
}
.right .header1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right .header1 nav a{
    padding: 20px; 
    margin-right: 20px;
    text-decoration: none;
    color: black;
} 
.right .header1 nav {
    padding: 30px;
}
.right .header1 nav a.active{
    color: #FFBD7F;
} 
.right .title .big-title{
    color: #2F2105;
    margin-top: 100px;
    width: 60%;
    font-size: 30px;
}
.right .title .coffee1{
    color: #F4AE26;
}
.right .title .paraghraph{
    color: #2F2105;
    margin-top: -20px;
    width: 45%;
}
.btn a{
    display: flex;
    background-color: #2F2105;
    border-radius: 25px;
    width: 20%;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 5px;
}
.btn a span {
    color: white;
    font-size: 15px;
}
.btn a .pane2{
    background-color: #FFBD7F;
    border-radius: 50%;
    width: 25px;
}
.left{
    background-color: #FFBD7F;
    height: 800px;
    width: 40%;
   
}
.header2{
    display: flex;
    flex-direction: row;
    padding: 20px;
   margin-left: 50px;
   gap: 5px;
} 
.search {
    position: relative;
    display: flex;
    align-items: center; 
    padding: 5px 5px; 
    border-radius: 30px;
    background: #fff;
}
.search .searchinput {
    margin-left: 15px; 
    border: none;
    outline: none;
}
.searchinput::placeholder{
    color: #2F2105;
}
.left .coffee {
    position: absolute;
     top: -10px; 
    /* left: 950px;  */
  margin-left: 139px;
}


.image{
    position: absolute;
    top: 150px;
    left: 600px;
}
.option{
    position: absolute;
    background-color: #F6EBDA;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 80%;
    justify-content: space-around;
    margin-top: -100px;
    margin-left: 70px;
}
.option .hot-coffee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.option .hot-coffee h3{
    color: #2F2105;
}
.option .hot-coffee .special{
    color: #A0583C;
}
.menu-icon{
    display: none;
}
.hidden {
    display: none;
}
@media screen and (max-width:600px) {
    nav{
        display: none;
    }
    .right{
        width: 60%;
       
    }
    .left .search,.pane {
        display: none;
    }
    .left .menu-icon{
        display: flex;
        margin-top: 10px;
        cursor: pointer;
    }
    nav.show {
        display: flex;
        flex-direction: column;
        width: 90px;
        background-color: #F6EBDA;
        position: fixed;
    }
    .right .header1 nav a.active{
       color: #F4AE26;
    } 
    .title {
        position: relative;
        top: 400px;
        width: 600px;
       left: -30px;
       
    }
    
    .left .coffee{
        display: none;
    }
    .image{
        left: 3px;
        margin-top: 50px;
    }
    .image img{
        width: 100%;
    }
    .option{
        position: relative;
        width: 330px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 200px;
        margin-left: 0px;
    }
}





/*menu*/
.top-menu{
    margin-left: 50px;
    margin-top: 150px;
}
.heading {
    font-size: 18px;
    
}
.heading .titre1{
    border-bottom: 3px solid #FFBD7F;
}
.menu{
    display: flex;
    gap: 20px;
    padding-right: 60px;
}
.menu-item{
    background-color:#835E4C ;
    border-radius: 10px;
   text-align: center;
    padding:  20px;
    color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}
.price{
    display: flex;
    justify-content: space-between;
}
 .price .order{
    background-color: #A0583C;
    border-radius: 20px;
    padding:  10px;
    width: 50%;
    cursor: pointer;
    color: white;
    text-align: center;
}
 .price .number{
    font-weight: 600;
    margin-top: 10px;
}
.menu-item:hover{
    background-color: #FFBD7F;
    color: #835E4C;
    transform: scale(1);
}
.sign{
    background-color: #F6EBDA;
    margin-top: 70px;
    display: flex;
    padding: 40px;
    gap: 30px;
}
.text .learn{
    cursor: pointer;
}
.special-menu{
    margin-left: 50px;
    margin-top: 20px;
}
.menu-boxes {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.box{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.box1{
    background-color: #835E4C;
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.24);
}
@media screen and (max-width:600px) {
    .menu{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
    }
    .box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       width: 200px;
    }
    .sign{
        width: 290px;
    }

    
}






/*aboutus*/
.about-us{
    margin-top:50px ;
    background-color:#F6EBDA ;
    display: flex;
    justify-content: space-between;
}
.aboutus-image{
    margin-left: 50px;
    margin-top: 40px;
}
.aboutus-info{
    margin-left: 90px;
   margin-top: 100px;
}
.paragraph2{
    color:#2F2105 ;
    width: 75%;
    font-weight: 400;
}
.start{
    background-color: #2F2105;
    border-radius: 20px;
    padding: 10px 20px;
    color:#FFBD7F ;
    cursor: pointer;
    border: none;
}
@media screen and (max-width:600px){
    .about-us{
        flex-direction: column;
        align-items: center;
        width: 370px;
       
    }
    .aboutus-image img{
        width:350px ;
        margin-right: 50px;
    }
    .aboutus-info{
        width: 400px;
        margin-top: -30px;
        margin-bottom: 20px;
    }
}
.newsletter-container h3 {
    color: #4f3c29; 
    font-weight: bold;
    margin-bottom: 10px;
}

.newsletter-box {
    display: flex;
    width: 100%;
    max-width: 400px; 
}

.email-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #f7e7d1; 
    color: #4f3c29; 
    font-size: 16px;
    outline: none;
}

.subscribe-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #6a432d; 
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.subscribe-btn:hover {
    background-color: #5a3a27; 
} 
.footer1{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
}
.right-footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-bar a{
    text-decoration: none;
    color: #835E4C;
    font-weight: 600;
    font-size: 20px;
}
.logo-coffee{
    display: flex;
    gap: 15px;
    color: #2F2105;
}

.left-footer .social{
    display: flex;
    gap: 20px;
}
.left-footer .newsletter-container{
    margin-top: 20px;
    margin-right: 50px;
}

@media screen and (max-width:600px){
    .footer1{
        flex-direction: column;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .left-footer .social{
        display: none;
    }
    .newsletter-box{
        width: 20px;
    }
    
}
